{% extends 'base.html.twig' %}

{% block title %}Green spaces list{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-primary font-weight-bold">Green spaces management</h1>

        <a href="{{ path('admin_green_spaces_create') }}" type="button" class="btn btn-primary mb-1">
            <i class="fa fa-plus mr-1"></i> Add
        </a>

        {% include 'admin/partials/search.html.twig' %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Training center</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for greenSpace in paginator.data %}
                <tr>
                    <td>{{ greenSpace.id }}</td>
                    <td>{{ greenSpace.name }}</td>
                    <td>{{ greenSpace.trainingCenter }}</td>
                    <td>{{ greenSpace.latitude }}</td>
                    <td>{{ greenSpace.longitude }}</td>
                    <td class="actions text-right">
                        <a href="{{ path('admin_green_spaces_show', {id: greenSpace.id}) }}"
                           class="btn btn-warning btn-sm mr-1"
                            title="Display on a map">
                            <i class="fa fa-globe text-white"></i>
                        </a>
                        <a href="{{ path('admin_green_spaces_edit', {id: greenSpace.id}) }}" class="btn btn-success btn-sm mr-1">
                            <i class="fa fa-edit"></i>
                        </a>
                        <form action="{{ path('admin_green_spaces_delete', {id: greenSpace.id}) }}"
                              method="POST"
                              class="d-inline-block"
                              onclick="return confirm('Do you really want to delete this green space ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ greenSpace.id) }}">
                            <button class="btn btn-danger btn-sm"
                                    type="submit"
                                    title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ paginator.render() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
