{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #container {
            width: auto;
            height: 100vh;
            overflow: hidden;
            border: 2px solid #fff;
        }

        #tooltip {
            font-family: Helvetica, Arial, sans-serif;
            position: absolute;
            padding: 4px;
            margin: 8px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            max-width: 300px;
            font-size: 10px;
            z-index: 9;
            pointer-events: none;
        }
    </style>
{% endblock %}


{% block title %}Green spaces list{% endblock %}

{% block body %}
    <div id="container" class="container-fluid"></div>
    <div id="tooltip"></div>
{% endblock %}

 {% block javascripts %}
     <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>
     <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
     <script>
         let greenSpaces = [
             {% for prestation in prestations %}
             {% set greenSpace = prestation.greenSpace %}
             {
                 position: [{{ greenSpace.longitude }}, {{ greenSpace.latitude }}],
                 color: [0, 255, 255],
                 name: "{{ greenSpace.address }}",
                 exits: {{ random(100, 4243) }},
                 size: 5,
             },
             {% endfor %}
         ]
     </script>
     {{ encore_entry_script_tags('map') }}
 {% endblock %}
