{% extends 'pub/base.html.twig' %}

{% block title %}Training center registration{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="alert-heading">Registration</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light rounded-0">
                    <h2 class="alert-heading">General information</h2>
                    <hr>
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                </div>
                <div class="alert alert-light rounded-0">
                    <h2 class="alert-heading">Passwords</h2>
                    <hr>
                    {{ form_row(form.hash) }}
                    {{ form_row(form.passwordConfirm) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light rounded-0">
                    <h2 class="alert-heading">Address</h2>
                    <hr>
                    {{ form_row(form.address) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.phoneNumber) }}
                </div>
                <div class="alert alert-light clearfix rounded-0">
                    <button type="submit" class="btn btn-success float-right">
                        <i class="fas fa-check mr-1"></i>Register
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
