{% extends 'base.html.twig' %}

{% block title %}My profile!{% endblock %}

{% block body %}
    <div class="container">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="row align-items-center mb-5">
                    <div class="col-3 text-center p-xl-5">
                        <i class="fa fa-user fa-10x"></i>
                        <br>
                        <p class="mt-3">
                            <strong>{{ member }}</strong>
                            <br>
                            <i class="fa {{ member.isActive ? 'fa-toggle-on text-success' : 'fa-toggle-off text-danger' }} fa-2x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <h1 class="text-center text-success font-weight-bold">Information</h1>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="alert alert-light rounded-0">
                                    <h6 class="alert-heading text-primary">Email</h6>
                                    <hr>
                                    {{ member.email }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="alert alert-light rounded-0">
                                    <h6 class="alert-heading text-primary">Phone number</h6>
                                    <hr>
                                    {{ member.phoneNumber }}
                                </div>
                            </div>
                        </div>
                        {% if member.qrCode %}
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-light rounded-0">
                                        <h6 class="alert-heading text-primary">QRCode Identification</h6>
                                        <hr>
                                        <img class="text-center"
                                             src="{{ qr_code_data_uri(member.qrCode, { writer: 'svg', size: 150 }) }}"/>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {% if member is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('user_lambda_profile') }}" class="btn btn-success mb-2 mr-2">Edit my
                            profile</a>
                        <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Change my password</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
