<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('homepage') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tree"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Forma<sup class="text-success">GREEN</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_partners_index') }}">
                <i class="fas fa-fw fa-handshake"></i>
                <span>Partners</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_discounts_index') }}">
                <i class="fas fa-fw fa-dollar-sign"></i>
                <span>Discounts</span>
            </a>
        </li>

        <!-- Heading -->
        <div class="sidebar-heading">
            Globe care
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_green_spaces_index') }}">
                <i class="fas fa-fw fa-leaf"></i>
                <span>Green spaces</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_prestations_index') }}">
                <i class="fas fa-fw fa-globe-africa"></i>
                <span>Prestations</span></a>
        </li>

        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Members
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('admin_trainings_index') }}">
                <i class="fas fa-fw fa-building"></i>
                <span>Training centers</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_users_index') }}">
                <i class="fas fa-fw fa-user-friends"></i>
                <span>Users</span>
            </a>
        </li>
    {% endif %}

    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

{% for label, messages in app.flashes %}
    <div class="container-fluid">
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-4 p-3" role="alert">
            {% for message in messages %}
                {{ message | raw }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endfor %}
