{% extends 'base.html.twig' %}

{% block title %}Partners list{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-primary font-weight-bold">Partners management</h1>

        <a href="{{ path('admin_partners_create') }}" type="button" class="btn btn-primary mb-1">
            <i class="fa fa-plus mr-1"></i> Add
        </a>

        {% include 'admin/partials/search.html.twig' %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for partner in paginator.data %}
                {% set isActive = partner.isActive() %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.email }}</td>
                    <td>{{ partner.address }}</td>
                    <td class="actions text-right">
                        <form action="{{ path('admin_partners_disable', {id: partner.id}) }}"
                              method="POST"
                              class="d-inline-block"
                              onclick="return confirm('Do you really want to {{ isActive ? 'disable' : 'enable' }} this partner ?')">
                            <input type="hidden" name="_method" value="PATCH">
                            <input type="hidden" name="_token" value="{{ csrf_token('disable' ~ partner.id) }}">
                            <button class="btn btn-light btn-sm"
                                    type="submit"
                                    title="{{ isActive ? 'Clic to disable' : 'Clic to enable' }}">
                                <i class="fas {{ isActive ? 'fa-toggle-on text-success' : 'fa-toggle-off text-danger' }}"></i>
                            </button>
                        </form>

                        <form action="{{ path('admin_partners_delete', {id: partner.id}) }}"
                              method="POST"
                              class="d-inline-block"
                              onclick="return confirm('Do you really want to delete this partner ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
                            <button class="btn btn-light btn-sm"
                                    type="submit"
                                    title="Delete">
                                <i class="fas fa-trash text-danger"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ paginator.render() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
